.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50 vw;
  margin: 0 auto;
  height: 70vh;
}
.signup-container input {
  width: 30%;
}
